body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1a1a1a, #eeeded);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
    
}

.search-container input {
    padding: 15px;
    width: 286px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
}

.search-container button {
    padding: 10px 15px;
    margin-left: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.25rem;
}

.search-container button:hover {
    background-color: #0056b3;
}

.weather-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    width: 30vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.weather-container h1 {
    margin: 0;
    font-size: 2rem;
}

.weather-container p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.temperature {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}

.condition {
    font-style: italic;
    color: #555;
}

.wind-speed,
.humidity,
.pressure,
.feels-like,
.clouds,
.sunrise,
.sunset,
.timezone {
    margin-top: 10px;
    font-size: 1rem;
    color: #777;
}

.wind-speed {
    color: #333;
}

.humidity {
    color: #339;
}

.pressure {
    color: #a44;
}

.feels-like {
    color: #555;
}

.clouds {
    color: #6c757d;
}

.sunrise,
.sunset {
    color: #f39c12;
}

.timezone {
    color: #e74c3c;
}

.input-container{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
